DATABASE_URL="postgresql://postgres:SUA_SENHA_AQUI@localhost:5432/easyfood?schema=public"
JWT_SECRET="SUA_CHAVE_JWT_AQUI"

MAILERSEND_API_KEY="SUA_API_KEY_MAILERSEND_AQUI"
SENDER_EMAIL="SEU_EMAIL_REMETENTE_AQUI"
SENDER_NAME="EasyFood"
COMERCIAL_EMAIL="EMAIL_DO_COMERCIAL_AQUI"
